*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }

body{
    background-color: hsl(217, 54%, 11%);
    position: relative;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
}

.main{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    width: 350px;
    border-radius: 10px;
    padding: 20px;
   background-color: hsl(216, 50%, 16%); 
}

#img{
    width: 100%;
    border-radius: 10px;
    height: 300px;
}

 .avatar_line{
    display: flex;
    flex-direction: row;
 }
 
 .avatar_line img{
    margin-right: 10px;
 }

 .sp span{
    padding: 0;
    display: inline;
    display: flex;
    margin-top: 20px;
    color: hsl(215, 20%, 83%);
    white-space: nowrap;
 }
  #time{
    display: flex;
    justify-content: flex-end;
    margin-top: -20px;
 } 
/* #eth, #time{
    display: flex;
}*/
 /* span{
    color: hsl(215, 20%, 83%);
    margin-right: 80px;
 }  */

 #avatar{
    width: 50px;
    height: 50px;
 }

 .jules{
    margin-top: 15px;
 }
h1{
    margin-top: 15px;
}
#jules_hover, #equi{
    color: hsl(215, 20%, 83%);
    text-decoration: none;
    transition: color 0.3s ease;
}

#jules_hover:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
  }

  #equi:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
  }
   
h1, p, .jules {
    color: hsl(215, 20%, 83%);
 }

 .img_hover {
    position: relative;
    display: inline-block; /* or block depending on your layout */
}
.img_hover img {
    display: block; /* Ensure the image is displayed as a block element */
    width: 100%; /* Ensure the image fills the container */
    height: auto; /* Preserve aspect ratio */
    transition: opacity 0.3s ease; /* Smooth transition for opacity property */
}
.hover-effect {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 255, 255, 0.5); /* Cyan color with transparency */
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease; /* Smooth transition for opacity property */
}
#view{
    margin-top: 110px;
}
.img_hover:hover .hover-effect {
    opacity: 1; /* Show overlay on hover */
}
.hover-effect img {
    display: block; /* Ensure the image is displayed as a block element */
    width: 100%; /* Ensure the image fills the overlay */
    height: 100%; /* Ensure the image fills the overlay */
}
hr{
    margin-top: 10px;
   border-radius: 100px;
   color: rgb(0, 0, 0);
}

@media screen and (max-width: 426px){
   
    .main{
        background-color: hsl(216, 50%, 16%);
        /* width: 40%; */
    }
}